.formcontato__text{
    display: flex;
    flex-direction: column;
}
.formcontato__title{
    font-size: 2rem;
    margin-bottom: 1rem;
    
}
.formcontato__subtext{
    font-size: 1.5rem;
    font-weight: normal;
}
.formcontato__form{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

}
.formcontato__input,.formcontato__textarea{
    padding: 1rem;
}
.formcontato__textarea :focus{
    resize: none;
}
.formcontato__input:hover,.formcontato__textarea:hover{
    border-bottom: 2px solid green;
    cursor: pointer;
}
.validar-estado{
    position: absolute;
    font-size: 1rem;
    right: 0;
    color: red;
    opacity: 0%;
}
.incorrecto{
    opacity: 0%;
}
.correcto{
    opacity: 0%;
}

.formcontato__botao{
    width: 30%;
    padding: 2rem;
    color: rgb(47, 187, 187);
    background-color: rgb(121, 97, 214);
    border: solid rgb(224, 92, 30);
    
}
.formcontato__botao :hover{
    background-color: rgb(150, 47, 22);
    border: solid #fff;
    cursor: pointer;
}
@media (max-width: 780px){
    .formcontato__text{
        width: 100%;
    }
}
@media (max-width: 480px){
    .formcontato__botao{
        width: 45%;
}
}